.App {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    flex-direction: column;
    background-color: #E4E4E4;
}

.nav-bar{
    font-size:25px;
    font-weight: bold;
    background-color:slategrey;
}
.cardContenedor{
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 12rem;
    border: none;
}

.boxCont{
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    width: 20rem; 
    height: 3rem;
    display: block;
    border: none;
}

.button{
    width: 5rem;
    
}

.lblCont{
    padding: 9px 55px;
}

.btnAdd{
    margin: 25px;
}

.itemCard{
   width: 18rem; 
   height: 35rem;
   margin-left:auto;
   margin-right: auto;
   margin-bottom: 5em;
   border-radius: 20px;
   border-width: 5px;
   border-color: rgb(126, 126, 126);
   display:table;
}

.img-card{
    height: 23rem;
    border-radius: 20px;
}

.item-price{
    color:rgb(132, 175, 45) !important;
    font-size: 25px;
    font-weight: bold;
}

.item-title{
    font-weight: bold;
    font-size: 20px;
}

.itemListCard{
     column-count: 3;
    /* display:list-item; */    
}

.body-card{
    margin: 1em;
    height: 4em;
}
.containerItemList{
    padding-bottom: 5em;
    margin-top: 2em;
    margin-bottom: 0em;
}

.itemDetail{
    max-width: 100%;
    margin: 2rem;
}

#img-detail{
    height: 700px;
    width: 500px;
}

.cardBody{
    padding: 9rem ;
    margin: 5rem;
}

#msg-cart{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    padding: 4em;
}

.formulario{
    margin: 2em 7em;
    border: 2px;
}

.customImput{
    margin: 0.8em;
}

#inputId{
    margin-bottom: 3em;
}

#titleForm{
    font-size: 45px;
    color: rgb(136, 136, 136);
}

.validatorMail{
    font-size: 13px;
    letter-spacing: 2px;
    color:red;
    text-align: left;
}

.totalItems{
    color:rgba(0, 0, 0, 0.597);
    display: block;
    
}
@media (max-width : 700px){
    .App, html {
        margin: 0;
        padding: 0;
        width: 26rem;

    }
    .itemListCard{
        display:inline;

    }
    .itemCard{
        width: 12rem;
        height: 25rem;
      /*   margin-left:0.5rem;
        margin-right: 0rem; */
        margin-bottom: 1rem;
        font-size: 0.8rem;
        border-radius: 20px;
        border: none;
        /* display: inline-block; */
     }
     .img-card{
        height: 14rem;
        width: 12rem;
        margin-top: 0rem;
        border-radius: 20px;
    }
     .containerItemList{
        margin-top: 2em;
        margin-bottom: 2em;
        /* width: 23rem; */
        column-count: 2;
    }
    .nav-bar{
        width: 23rem;
    }
}
