.cardContenedor{
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 12rem;
}

.boxCont{
    margin-right: auto;
    margin-left: auto;
    margin-top: 35px;
    width: 20rem; 
    height: 3rem;
    display:inline-block;
}

.button{
    width: 5rem;
}

.lblCont{
    padding: 9px 55px;
}

.btnAdd{
    margin: 25px;
}

.itemCard{
   width: 18rem; 
   height: 35rem;
   margin-left:auto;
   margin-right: auto;
   margin-bottom: 7em;
   
}

.itemListCard{
    display:flex;
}

.containerItemList{
    margin-top: 2em;
    margin-bottom: 2em;
}

/* @media (min-width : 700px){
    .itemListCard{
        display:inline;
    }
    .itemCard{
        width: 18rem;
        height: 18rem; 
        margin-left:auto;
        margin-right: auto;
        
     }
} */
@media (max-width : 700px){
    .itemListCard{
        display:inline;
    }
    .itemCard{
        width: 10rem;
        height: auto;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 1rem;
        font-size: 0.8rem;
        
     }

     .containerItemList{
        margin-top: 2em;
        margin-bottom: 2em;
    }
}
